@charset "utf-8";
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td,
iframe {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Helvetica, arial, sans-serif;
    line-height: 1.5;
    /*height: 100%;*/
    -webkit-appearance:none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
}

fieldset,
img {
    border: 0;
}

img {
    display: block;
    margin: 0;
    padding: 0;
}

address,
caption,
cite,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

sup {
    vertical-align: text-top;
}

sub {
    vertical-align: text-bottom;
}

input,
select,
button {
    font: 100% tahoma, \5b8b\4f53, arial;
    vertical-align: baseline;
    *vertical-align: middle;
}

input[type=checkbox],
input[type=radio] {
    vertical-align: middle;
}

textarea {
    overflow: auto;
    font: 100% tahoma, \5b8b\4f53, arial;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*HTML5*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    display: block;
    margin: 0;
    padding: 0;
}

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

time,
mark {
    display: inline;
}

mark {
    background-color: #ff0;
    color: #000;
}

audio:not([controls]) {
    display: none;
    height: 0;
}

.clearfix {
    *zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
.fl{
    float: left;
}
.fr{
    float: right;
}


/*coommon*/
@charset "utf-8";
*, *:before, *:after {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

*:not(input):not(textarea) {
/*     -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; */
}

body {
    color: #222;
    background-color: #F8F8F8;
}

a {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    text-decoration: none;
    color: inherit;
}

textarea, input[type=text] {
    -webkit-appearance: none;

    border-radius: 0;
    box-shadow: none;
    border: 1px solid #d2d6de;
    padding: 6px 12px;
}

.white-bg {
    background-color: #FFF;
}

.green {
    color: #00c17b;
}

.gray {
    color: #888;
}

.red {
    color: red;
}

.orange {
    color: #FC4C24;
}

.lineation {
    text-decoration: line-through;
}

.btn {
    padding: .5rem 0;
    letter-spacing: .1rem;
    border: 1px solid #00c17b;
    border-radius: .2rem;
}

.btn-gray {
    border: 1px solid #888888;
    color: #222;
}

.fixed {
    position: fixed;
    max-width: inherit;
    width: 100%;
    z-index: 10;
}

.content {
    padding: .8rem .6rem;
}

.center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: center;
    justify-content: center;
}

.middle {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.end {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.float-left {
    float: left;
}

.text-right {
    text-align: right;
}

.float-right {
    float: right;
}

.cell {
    border-top: 1px solid #DCDCDC;
    border-bottom: 1px solid #DCDCDC;
}

.cell-item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.cell-left {

}

.cell-right {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;

    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

/** 重写 layer */
.layui-m-layer .layui-m-layerbtn {
    background-color: #FFF;
}

.layui-m-layer .layui-m-layerbtn span[yes] {
    color: #FFF;
    background-color: #00c17b;
}

.layui-m-layer .layui-m-layerchild {
    border-radius: 0;
}

.layui-m-layer .layui-m-layerbtn,
.layui-m-layer .layui-m-layerbtn span {
    border-radius: 0;
}

.layui-m-layer .layui-m-layercont {
    padding: 2rem 1.5rem;
}

/*dz。css*/
@charset "utf-8";

.main {
    max-width: 640px;
    margin: 0 auto;
    font-size: .8rem;
    overflow: hidden;
    color: #222;
}

.main .space-top {
    margin-top: 1.5rem;
}

.main .space-bottom {
    margin-bottom: 1.5rem;
}

.main .img img {
    width: 100%;
}

.main .link {
    text-align: center;
}

.main .link a {
    padding: .8rem 0;
    color: #FFF;
    font-size: 1rem;
    width: 80%;
    background-color: #FF4946;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    text-decoration: none;

}

.main .down-fixed a {
    padding: .8rem 0;
    color: #FFF;
    font-size: 1rem;
    width: 100%;
    background-color: #00c17b;
    text-align: center;
}

.main .down-fixed {
    bottom: 0;
    z-index: 10;
}

.main .down-icon-fixed {
    position:fixed;
    bottom: 215px;
    right: 10px;
    z-index: 10;
}

.main .video-js .vjs-big-play-button {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    line-height: 1.8em;
    margin-left: -1em;
    margin-top: -1em;
}

.main .text-top {
    background-color: #F8F8F8;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.main .text div {
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: .08rem;
    line-height: 1.8rem;
}

.main .text .red {
    color: #ff4948;
}

.main .text .big-font {
    font-size: 2rem;
    font-style: normal;
}

/*pc底部下载部分*/

.pc_fixed {
    width: 100%;
    display: none;
    background: url("../images/pc_bottom_bg.png");
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.pc_fixed .pc_download_container {
    margin: 0 auto;
    width: 640px;
    height: 140px;
    overflow: hidden;
}

.pc_fixed .pc_download_container ul {
    padding: 20px 10px;
}

.pc_fixed .pc_download_container ul li {
    height: 100px;
}

.pc_fixed .pc_download_container ul li img {
    display: inline-block;
}

.pc_fixed .pc_download_container ul li:first-child {
    float: left;
    padding-right: 38px;
    border-right: 2px solid #726E6F;
}

.pc_fixed .pc_download_container ul li:first-child img {
    margin-top: 14px;
}

.pc_fixed .pc_download_container ul li:last-child {
    float: right;
}

.pc_fixed .pc_download_container ul li:last-child img:first-child {
    margin-bottom: 22px;
    margin-right: 25px;
}

.pc_fixed .btn_close_bottom {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 15px;
}
